* {
  margin: 0;
}

.globe {
  height: 100vh;
  width: 100%;
  margin: auto;
  padding: 0;
  margin-bottom: 40px;
}

.map {
  height: 500px;
  width: 48%;
  margin: 10px;
  float: left;
  border: black 3px solid;
}

#pollution {
  float: right;
}

#temperature {
  float: left;
}
