* {
  margin: 0;
}

.globe {
  height: 100%;
  width: 60%;
  margin: auto;
  padding: 0;
  position: absolute;
  float: right;
}

.map {
  height: 100%;
  width: 50%;
  margin-top: 20px;
  position: absolute;
  float: left;
}
